@charset "ISO-8859-1";
#login{
	margin-left:auto; 
	margin-right:0;
}

p{
	color: forestgreen;
	font-weight: bold;
	
}

h3{
	color: forestgreen !important;
}

label{
	color: forestgreen;
}

#clickToProceedSell{
	margin-top:20px;
}

.login{
	margin: auto;
}
#six{
	margin-top:10px;
	margin-bottom:10px;
}
#title {
    color:forestgreen;
}
#checker {
	margin-top: 10px;
	padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    width:50%;
}
#checkboxes{
    color:forestgreen;
}
body {
    font-family: "Lato", sans-serif;
}

#rooms{
	display:inline-block;
    margin-right:10px;
}
#bathrooms{
	display:inline-block;
}
#guests{
	display:inline-block;
}
.center {
 text-align: center;   
}

.merge-bottom-input {
  width: 67px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.merge-top-left-button {
  border-top-left-radius: 0;
}

.merge-top-right-button {
  border-top-right-radius: 0;
}
#searchbox {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
#searchbox:focus {
    width: 100%;
}